<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>FoodDeliverApp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.food.servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUserServlet</display-name>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>com.food.servlets.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.food.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.food.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.food.servlets.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.food.servlets.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboardServlet</display-name>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>com.food.servlets.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/AdminDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.food.servlets.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.food.servlets.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterRestaurantServlet</display-name>
    <servlet-name>RegisterRestaurantServlet</servlet-name>
    <servlet-class>com.food.servlets.RegisterRestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterRestaurantServlet</servlet-name>
    <url-pattern>/RegisterRestaurantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRestaurantServlet</display-name>
    <servlet-name>EditRestaurantServlet</servlet-name>
    <servlet-class>com.food.servlets.EditRestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRestaurantServlet</servlet-name>
    <url-pattern>/EditRestaurantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRestaurantServlet</display-name>
    <servlet-name>UpdateRestaurantServlet</servlet-name>
    <servlet-class>com.food.servlets.UpdateRestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRestaurantServlet</servlet-name>
    <url-pattern>/UpdateRestaurantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRestaurantServlet</display-name>
    <servlet-name>DeleteRestaurantServlet</servlet-name>
    <servlet-class>com.food.servlets.DeleteRestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRestaurantServlet</servlet-name>
    <url-pattern>/DeleteRestaurantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantDetailsServlet</display-name>
    <servlet-name>RestaurantDetailsServlet</servlet-name>
    <servlet-class>com.food.servlets.restaurant.RestaurantDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantDetailsServlet</servlet-name>
    <url-pattern>/Restaurants/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.food.servlets.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCartCountServlet</display-name>
    <servlet-name>GetCartCountServlet</servlet-name>
    <servlet-class>com.food.servlets.GetCartCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCartCountServlet</servlet-name>
    <url-pattern>/GetCartCountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartServlet</display-name>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>com.food.servlets.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/UpdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentProcessingServlet</display-name>
    <servlet-name>PaymentProcessingServlet</servlet-name>
    <servlet-class>com.food.servlets.PaymentProcessingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentProcessingServlet</servlet-name>
    <url-pattern>/PaymentProcessingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAvailabilityServlet</display-name>
    <servlet-name>UpdateAvailabilityServlet</servlet-name>
    <servlet-class>com.food.servlets.restaurant.UpdateAvailabilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAvailabilityServlet</servlet-name>
    <url-pattern>/UpdateAvailabilityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingOrdersServlet</display-name>
    <servlet-name>ViewPendingOrdersServlet</servlet-name>
    <servlet-class>com.food.servlets.restaurant.ViewPendingOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingOrdersServlet</servlet-name>
    <url-pattern>/ViewPendingOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderStatusServlet</display-name>
    <servlet-name>UpdateOrderStatusServlet</servlet-name>
    <servlet-class>com.food.servlets.restaurant.UpdateOrderStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderStatusServlet</servlet-name>
    <url-pattern>/UpdateOrderStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.food.servlets.restaurant.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartDataServlet</display-name>
    <servlet-name>ChartDataServlet</servlet-name>
    <servlet-class>com.food.servlets.restaurant.ChartDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartDataServlet</servlet-name>
    <url-pattern>/ChartDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptedOrdersServlet</display-name>
    <servlet-name>AcceptedOrdersServlet</servlet-name>
    <servlet-class>com.food.servlets.restaurant.AcceptedOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptedOrdersServlet</servlet-name>
    <url-pattern>/AcceptedOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelledOrdersServlet</display-name>
    <servlet-name>CancelledOrdersServlet</servlet-name>
    <servlet-class>com.food.servlets.restaurant.CancelledOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelledOrdersServlet</servlet-name>
    <url-pattern>/CancelledOrdersServlet</url-pattern>
  </servlet-mapping>
</web-app>